[project]
	description = a library for adding declarative ajax functionality to your website
[access "refs/*"]
	owner = group user/Ghassen Telmoudi (pyghassen)
[access "refs/for/refs/*"]
	read = group user/Ghassen Telmoudi (pyghassen)
	push = group user/Ghassen Telmoudi (pyghassen)
	label-Code-Review = -2..+2 group user/Ghassen Telmoudi (pyghassen)
	label-Verified = -1..+1 group user/Ghassen Telmoudi (pyghassen)
	rebase = group user/Ghassen Telmoudi (pyghassen)
	removeReviewer = group user/Ghassen Telmoudi (pyghassen)
	submit = group user/Ghassen Telmoudi (pyghassen)
[access "refs/heads/*"]
	read = group user/Ghassen Telmoudi (pyghassen)
	create = group user/Ghassen Telmoudi (pyghassen)
	push = +force group user/Ghassen Telmoudi (pyghassen)
	pushMerge = group user/Ghassen Telmoudi (pyghassen)
[access "refs/tags/*"]
	push = +force group user/Ghassen Telmoudi (pyghassen)
	pushTag = group user/Ghassen Telmoudi (pyghassen)
	pushSignedTag = group user/Ghassen Telmoudi (pyghassen)
